# Assignment 1

## Test your knowledge. 

** Answer the following questions **

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [2]:
s = 'hello'
# Print out 'e' using indexing

In [3]:
print(s)

hello

Reverse the string 'hello' using slicing:

In [19]:
s ='hello'
# Reverse the string using slicing
s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [20]:
s ='hello'
# Print out the 'o'

# Method 1:

s[-1]

'o'

In [21]:
# Method 2:
s[::-1][0]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [22]:
# Method 1:
[0]*3

[0, 0, 0]

In [24]:
# Method 2:
[0]+[0]+[0]

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [25]:
list3 = [1,2,[3,4,'hello']]

list3[2][-1]

'hello'

Sort the list below:

In [26]:
list4 = [5,3,4,6,1]
list(set(list4))

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [27]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [28]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [33]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][-1][0]

'hello'

In [38]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
#Grab hello
d['k1'][2]['k2'][1]['tough'][-1][0]

'hello'

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [39]:

planet = "Earth"
diameter = 12742

"The diameter of {} is {} kilometers.".format(planet,diameter)

'The diameter of Earth is 12742 kilometers.'

** Given this nested list, use indexing to grab the word "hello" **

In [41]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [50]:
lst[3][1][-1][0]

'hello'

** Given this nested dictionary grab the word "hello". **

In [21]:
d = {'k1':
[
1,
2,
3,
    {
    'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]
    }

]


}

In [59]:
d['k1'][-1]['k2'][1]['tough'][-1][0]

'hello'

### Write a Python program to swap two variables.

In [60]:
def swap (x,y):
    return y,x

x=7
y=8

x,y =swap(x,y)

print(x,y)

8 7

## Thanks