# 1. Python Basic

#### 1.1 Data Types

In [2]:
type('this is string')

str

In [3]:
type(1)

int

In [4]:
type(0.555)

float

In [5]:
type(True)

bool

In [6]:
type(False)

bool

#### 1.2 Math Operatoins

In [7]:
# Sum
1+2

3

In [8]:
# Divide
9/3

3.0

In [9]:
#Divide %
9%3

0

In [10]:
#Substract

90-900

-810

#### 1.3 Python  Build in Functions

In [11]:
print('Hi')


print(type)



print(len('List String'))

Hi
<class 'type'>
11

In [12]:
# space and new line for strin values in python
print("\n hi\t Python")

 hi	 Python

#### 1.4 Text Slicing

In [13]:
sample='Sample'

In [14]:
#Frist char
sample[0]

'S'

In [15]:
# Last char

sample[-1]

'e'

In [16]:
# Print all indexis
print(sample[::])
print(sample[:])

Sample
Sample

In [17]:
#Slicing

s='MyNameISHassan'

s[-7:-11:-3] #[First Index , Second Index, Step]
#First Index +( - or + step) to 
# (+ or -(second index) - 1 )
#[1,3,4,6,7,8,9] 
#list

'Sm'

In [18]:
# Get the second element from the end of the list to second element at the begining of the list
s[-2:-len(s):-1]

'assaHSIemaNy'

In [19]:
s[-1:-len(s):-1]

'nassaHSIemaNy'

##### 1.4.1 Text Method

In [27]:
#remove every space before and after the string  

s='   string    '
s.strip()

'string'

In [28]:
#remove every - before and after the string  

s='--------string------------'
s.strip('-')

'string'

In [29]:
#remove every - from the right 
s='--------string------------'
s.rstrip('-')

'--------string'

In [30]:
#remove every - from the left 

s='--------string------------'
s.lstrip('-')

'string------------'

In [32]:
# split the string 
s='soso,sososos,ososo'

s.split(',')

['soso', 'sososos', 'ososo']

In [36]:
# split with specifc numbers 
s='soso,sososos,ososo,ososo,ososo,ososo,ososo,ososo'

s.split(',',4)

['soso', 'sososos', 'ososo', 'ososo', 'ososo,ososo,ososo,ososo']

In [41]:
# count repted string in word
s='soso,sososos,ososo'

s.count('so')

7

In [40]:
# count reapted string in part of word
s='soso,sososos,ososo'

s.count('so',0,10)

4

#### 1.4 List Tuple Set

In [20]:
['lis','231','4234']*2

['lis', '231', '4234', 'lis', '231', '4234']

> the list can not use any math opertions like sum or supstract int form each element in the list

In [21]:
# merge two list
l1=[1,2,3,4]
l2=[1,5,6,7,8]
l3=l1+l2
print(l3)

#or use append
l3.append(10)
print(l3)

[1, 2, 3, 4, 1, 5, 6, 7, 8]
[1, 2, 3, 4, 1, 5, 6, 7, 8, 10]

In [33]:
### Unpacking list

x,y,z=[2,1,3]

print(x)
print(z)
print(y)

# multi varible can be equal to the same thing
n=v=m=[1,4,5]
print(v)
print(n)
print(m)

2
3
1
[1, 4, 5]
[1, 4, 5]
[1, 4, 5]

In [22]:
# can update value of index
l3[0]=6
print(l3)

[6, 2, 3, 4, 1, 5, 6, 7, 8, 10]

In [23]:
# tuple the same as list  , but can not update value of index or append into it
t=(1,23,34,4,3)
t[0]=8

TypeError: 'tuple' object does not support item assignment

In [ ]:
# must any value between ()  follow by , to be tuple

print(type((1)))

print(type((1,)))

<class 'int'>
<class 'tuple'>

In [26]:
# set , sort the numbers and dose not accept any repated value  ,no slicing using it is index, can not update it is value ,sort the numbers fisrt then str value 

se={7}

se.add(4)

se.add(8)
se.add('p')
se.add('a')

In [24]:
# dictionar have key and value 

dic={'ee':5}


# update value of key
dic['ee']=9

In [25]:
#remove key and vlaue and save the removed value of the key in variable
n=dic.pop('ee')
n

9

#### 1.5 If Condition

In [1]:
a=20
b=19
j=40

if a>b or a>j:
    print(a)

20

In [9]:
num1=int(input('pls input a number '))
num2=int(input('pls input a number '))

operation=input('pls input select on of the followig \n 1- sum \n 2-supstract (-) \n 3- multi (*) \n 4- divide (/)')


if operation == '+':
    print(num1+num2)


elif operation == '-':
    print(num1-num2)



elif operation == '*':
    print(num1*num2)

elif operation == '/':
    print(num1/num2)

else:

    operation=input('pls input a valid choice  \n one of the followig \n 1- sum \n 2-supstract (-) \n 3- multi (*) \n 4- divide (/)')

#### 1. 6  While Loop

In [15]:
i =1


while i < 9 :
    print(i)

    i+=1

    if i ==3 :
        break

1
2

In [19]:
i =0


while i < 9 :
    i+=1
    if i ==3 :
        continue
    print(i)

1
2
4
5
6
7
8
9

#### 1.6 Function

In [43]:
def print_str(fnam):
    print(fnam+"  i am not feeling good")


print_str('hassan')
print_str('ali')
print_str('khamis')

hassan  i am not feeling good
ali  i am not feeling good
khamis  i am not feeling good

In [52]:
# *x means function_name( will accept alot of paramters not specif ones)
#and to get any value of the input ,all paramter that was input to the function  will have index , to get it must called by it is index inside the function 
def print_str(*x):
    print(x[0]+"  i am not feeling good")

In [53]:
print_str('Hassan','Ali','Khamis','HI')

Hassan  i am not feeling good

In [54]:
def print_str(*x):
    print(x[3]+"  i am not feeling good")

print_str('Hassan','Ali','Khamis','HI')

HI  i am not feeling good

In [2]:
x = 88
# x global variable
def print_global():

    return x

print_global()

88

In [10]:

# x global variable
def print_global():

    global x
    #nonlocal  x --> the same as glopal but needs to be in nested function
    x=99

    return x

print_global()

99

In [11]:
print(f'THIS IS X={x}')

THIS IS X=99

In [55]:
# *x means function_name( will accept alot of paramters not specif ones)
#and to get any value of the input ,all paramter that was input to the function will have key , to get it must called by it is name inside the function 
def print_str(**x):
    print(x['first']+"  i am not feeling good")
print_str(first='Hassan',last='Ali',mid='Khamis',mid_last='HI',test_last='Jack')

Hassan  i am not feeling good

In [56]:
print_str(first='Hassan',last='Ali',mid='Khamis',mid_last='HI',test_last='Jack')

Hassan  i am not feeling good

In [57]:
def print_str(**x):
    print(x['Lol']+"  i am not feeling good")
print_str(first='Hassan',last='Ali',mid='Khamis',mid_last='HI',test_last='Jack',Lol='212')

212  i am not feeling good

In [61]:
# lambda function 

name_checker=lambda num : 'even' if num%2==0 else 'odd'

name_checker(8)

'even'

In [66]:
# map each  elemnt in list and do something on it 
def add(x):
    return x+x

list(map(str,range(1,40)))

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33',
 '34',
 '35',
 '36',
 '37',
 '38',
 '39']

In [72]:
# filter will retun only the value in list  of true condtion   
def add(x):

        return x ==8


list(filter(add,range(1,10)))

[8]

#### 1.7 Classes

In [12]:
class dog ():
    num_dog=0 # variable  inside  the class will update each time we assigne the class to an object
    def __init__(self,name,age) :
        dog.num_dog+=1
        self.name=name
        self.age=age
    
print(f'num of dogs=={dog.num_dog}')
dog1=dog('j',5)
dog2=dog('Jakc',5)
dog3=dog('KOko',7)
dog4=dog('LoLO',7)
print(f'num of dogs=={dog.num_dog}')

num of dogs==0
num of dogs==4

In [13]:
class Pitbull(dog):
    def run(self):
        print(f'RUN {self.name} RUN {self.name} RUN RUN !!! ')

n=Pitbull('Geffery',90)

In [14]:
n.run()

RUN Geffery RUN Geffery RUN RUN !!!

In [47]:
class Encapsulation():
    def __init__(self,name,age):
        self.name=name
        self.__age=age   # make only this attr private inside the class
    def P(self):
        return self.name +"  " +str(self.__age)

In [48]:
con=Encapsulation('G',6)

print(con.__age())

AttributeError: 'Encapsulation' object has no attribute '__age'

In [49]:
# print local attr from iside of the class and print
print(con._Encapsulation__age
)

6

In [50]:
con.P()

'G  6'

#### 1.8 Ex About Function

In [85]:
def sum_row(v1,v2):
    if len(v1) == len (v2):
        l=[v1[i]+v2[i] for i  in  range(len(v1))]
        return(l)
    else:
        print('Unvalid Shape')

def sum_mat(mat1,mat2):
    l=[]
    for i in range(len(mat1)):
        l.append(sum_row(mat1[i],mat2[i]))
    return l

mat1=[[1,2,1],[2,1,7]]
mat2=[[1,3,1],[3,1,1]]
sum_mat(mat1,mat2)

[[2, 5, 2], [5, 2, 8]]

In [86]:
def matrix_shape(mat):
    return f' W= {len(mat)}  ,H ={len(mat[0])}'

In [87]:
matrix_shape([[1,2,3],[1,2,3]])

' W= 2  ,H =3'

In [88]:
vector_sum([1,2],[2,1])

4