# 1. Python Basic

#### 1.1 Data Types

In [26]:
type('this is string')

str

In [27]:
type(1)

int

In [28]:
type(0.555)

float

In [29]:
type(True)

bool

In [30]:
type(False)

bool

#### 1.2 Math Operatoins

In [14]:
# Sum
1+2

3

In [15]:
# Divide
9/3

3.0

In [23]:
#Divide %
9%3

0

In [25]:
#Substract

90-900

-810

#### 1.3 Python  Build in Functions

In [32]:
print('Hi')


print(type)



print(len('List String'))

Hi
<class 'type'>
11

In [35]:
# space and new line for strin values in python
print("\n hi\t Python")

 hi	 Python

#### 1.4 Text Slicing

In [36]:
sample='Sample'

In [39]:
#Frist char
sample[0]

'S'

In [41]:
# Last char

sample[-1]

'e'

In [44]:
# Print all indexis
print(sample[::])
print(sample[:])

Sample
Sample

In [119]:
#Slicing

s='MyNameISHassan'

s[-7:-11:-3] #[First Index , Second Index, Step]
#First Index +( - or + step) to 
# (+ or -(second index) - 1 )
#[1,3,4,6,7,8,9] 
#list

'Sm'

In [117]:
# Get the second element from the end of the list to second element at the begining of the list
s[-2:-len(s):-1]

'assaHSIemaNy'

In [125]:
s[-1:-len(s):-1]

'nassaHSIemaNy'

#### 1.4 List Tuple Set

In [154]:
['lis','231','4234']*2

['lis', '231', '4234', 'lis', '231', '4234']

> the list can not use any math opertions like sum or supstract int form each element in the list

In [144]:
# merge two list
l1=[1,2,3,4]
l2=[1,5,6,7,8]
l3=l1+l2
print(l3)

#or use append
l3.append(10)
print(l3)

[1, 2, 3, 4, 1, 5, 6, 7, 8]
[1, 2, 3, 4, 1, 5, 6, 7, 8, 10]

In [146]:
# can update value of index
l3[0]=6
print(l3)

[6, 2, 3, 4, 1, 5, 6, 7, 8, 10]

In [150]:
# tuple the same as list  , but can not update value of index
t=(1,23,34,4,3)
t[0]=8

TypeError: 'tuple' object does not support item assignment

In [155]:
# must any value between ()  follow by , to be tuple

print(type((1)))

print(type((1,)))

<class 'int'>
<class 'tuple'>

In [174]:
# set , sort the numbers and dose not accept any repated value  ,no slicing using it is index, can not update it is value ,sort the numbers fisrt then str value 

se={7}

se.add(4)

se.add(8)
se.add('p')
se.add('a')

In [189]:
# dictionar have key and value 

dic={'ee':5}


# update value of key
dic['ee']=9

In [190]:
#remove key and vlaue and save the removed value of the keyin variable
n=dic.pop('ee')
n

9